{% extends 'base.html' %}

{% block head %}

<style>

.imageContainer {
    background-image: url("/static/about_us_background.jpg");
}

body{
    overflow-x: hidden;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
</style>

{% endblock %}

{% block title %} About Us{% endblock %}

{% block body %}

<div class="container-fluid imageContainer" style="text-align: center;">
    <br>
    <br>
    <h1 class="display-4" style="color: #4a4a4a">About Us</h1>
    <br>
    <br>
    <div class="card-deck mx-auto" style="width: 60%;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">What is HospitalHero?</h5>
            <p class="card-text lead">HospitalHero is versatile platform tailored to COVID-19 that allows doctors to efficiently manage and maintain their hospital. With a clean and simple UI, HospitalHero is easy to use and even easier to manage.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">HospitalHero is 100% free</h5> 
            <p class="card-text lead">HospitalHero is nothing near a traditional hospital management system. However, this software is a simple and effective alternative so that hospitals in developing countries will not have to worry about the cost of buying and maintaining a professional hospital mangement tool. This is why HospitalHero is free for all. </p>
          </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Our Mission</h1>
            <hr class="my-4">
            <p class="lead">COVID-19 is a serious virus. Every day, hundreds of people die and thousands more infected. However, there is not enough space in hospitals and clinics to provide aid to infected individuals. We want to help solve this be creating a platform to easily manage rooms and doctors to COVID-19 patients.</p>
        </div>
    </div>
    <br>
    <br>
    <h1>Meet the team!</h1>
    <div class="row">
        <div class="col ml-5 pl-5">
            <img src="\static\placeholder_image.png" class="img-fluid rounded-circle">
        </div>
        <div class="col mr-5 pr-5">
            <img src="\static\placeholder_image.png" class="img-fluid rounded-circle">
        </div>
    </div>
</div>

{% endblock %}