{% extends 'base.html' %}

{% block head %}

<style>

.imageContainer {
    background-image: url("/static/about-us-background.jpg");
}

body{
    overflow-x: hidden;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
</style>

{% endblock %}

{% block title %} About Us{% endblock %}

{% block body %}

<div class="container-fluid imageContainer" style="text-align: center;">
    <br>
    <br>
    <h1 class="display-4" style="color: #4a4a4a">About Us</h1>
    <hr class="my-4">
    <br>
    <div class="card-deck mx-auto" style="width: 60%;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Average Cost</h5>
            <p class="card-text lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis earum sequi impedit iure ratione eius deserunt dignissimos sapiente harum nostrum consectetur beatae illo nemo dicta incidunt numquam, atque laborum nisi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates soluta libero id. Incidunt earum non aperiam. Magni nostrum, quae ducimus, quisquam, dignissimos expedita quibusdam itaque repellat corporis reprehenderit deserunt.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Impact/Risk</h5>
            <p class="card-text lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, quo repellat aliquam magni dolore numquam ad reiciendis recusandae dicta odio doloribus explicabo eius ipsa quibusdam inventore voluptas exercitationem? Nobis, accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, nisi voluptate! Quaerat corrupti commodi non, iure suscipit tempore doloremque maiores aperiam ab minus rerum eos velit, accusantium, saepe nam nobis.</p>
          </div>
        </div>
      </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Our Mission</h1>
            <hr class="my-4">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus fugiat debitis dolores ipsam nulla velit culpa natus dicta, porro facilis mollitia voluptates temporibus hic maiores perferendis neque ad ab pariatur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae quod ratione repellat dolore atque quaerat iusto nihil voluptatum cumque explicabo dolor reiciendis eligendi nisi, magni sunt voluptates, quo, soluta et.</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <h1>Meet the team!</h1>
    <div class="row">
        <div class="col ml-5 pl-5">
            <img src="\static\placeholder_image.png" class="img-fluid rounded-circle">
        </div>
        <div class="col mr-5 pr-5">
            <img src="\static\placeholder_image.png" class="img-fluid rounded-circle">
        </div>
    </div>
</div>

{% endblock %}