{% extends 'base.html' %}

{% block title %}Edit Patient Info{% endblock %}

{% block head %}

<style>
</style>

{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Patient Informtion</h1>
        <hr>
        <form action='/see_patients/edit/{{ patient.id }}' method='POST'>
        <br>
        <label for="name" class="lead"><b>Patient Name</b></label> 
        <input
            class="form-control"
            type="text"
            name='name' 
            id='name'
            value="{{ patient.name }}"
            aria-label="Edit Patient Name"
        />
        <br>
        <label for="age" class="lead"><b>Age</b></label> 
        <input
            class="form-control"
            type="number"
            name='age' 
            id='age'
            value="{{ patient.age }}"
            aria-label="Edit patient age"
        />
        <br>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
    

{% endblock %}