{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block head %}

<style>


  .jumbotron {
    background-image: url("static/actualbackground.jpg");
    background-size: cover;
    text-align: center;
    padding: 5em inherit;
    padding-top: 10%;
    padding-bottom: 30%;
    border-radius: 0;

  }

  .text_in_index {
    padding-top: 3%;
    padding-right: 7%;
    padding-left: 7%;
  }

</style>  

{% endblock %}

{% block body %}

<div class="jumbotron">
  <div class="container text_in_index">
    <h1 class="display-4">Hospital Hero</h1>
    <hr class="solid my-5">
    <p class="lead"><h2>Simple, Easy, Fast.</h2></p>
    <p><b> Defining the future of hospital management.</b></p>
    <br>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/about_hospitalhero" role="button">Learn more</a>
    </p>
  </div>
</div>




{% endblock %}