{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block head %}

<style>


  .jumbotron {
    background-image: url("static/actualbackground.jpg");
    background-size: cover;
    text-align: center;
    padding: 5em inherit;
    padding-top: 10%;
    padding-bottom: 30%;
  }

</style>  

{% endblock %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-4">Hospital Hero</h1>
  <hr class="solid my-4">
  <br>
  <p class="lead"><b>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, nisi. Doloremque similique esse sequi, culpa in, tenetur asperiores vero consequatur nobis quos facere ratione minima veniam. Animi expedita soluta suscipit.</b></p>
  <br>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>




{% endblock %}