{% extends 'base.html' %}

{% block title %}New Patient{% endblock %}

{% block body %}
    <div class="container">
    <br>
    <h1>Add New Patient</h1>
    <hr>
    <form action='/see_patients' method='POST'>
        <div class="row">
            <div class="col">
                <input
                class="form-control"
                type="text"
                name='name' 
                id='name'
                placeholder="Patient First Name"
                aria-label="Patient First Name"
                />
            </div>
            <div class="col">
                <input
                class="form-control"
                type="text"
                name='name' 
                id='name'
                placeholder="Patient Last Name"
                aria-label="Patient Last Name"
                />
            </div>
        </div>

        <br>

        <input
            class="form-control"
            type="number"
            name='age' 
            id='age'
            placeholder="Enter Patient Age"
            aria-label="Enter Patient Age"
        />
        <br>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    </div>

{% endblock %}