{% extends 'base.html' %}

{% block head %}

<style>
.card{
    margin: auto;
    float: none;
    margin-bottom: 10px;
}
</style>

{% endblock %}

{% block title %}New Patient{% endblock %}

{% block body %}
    <div class="card border-primary text-white bg-secondary mb-3" style="max-width: 40rem; text-align: center;">
        <h1 class="card-header">Add New Patient</h1>
        <div class="card-body">
            <form action='/see_patients' method='POST'>
                <div class="row">
                    <div class="col-6">
                        <label for='firstName' class="lead"><b>First Name</b></label>
                        <input
                        class="form-control"
                        type="text"
                        name='firstName' 
                        id='firstName'
                        placeholder="Patient First Name"
                        aria-label="Patient First Name"
                        />
                    </div>
                    <div class="col-6">
                        <label for='lastName' class="lead"><b>Last Name</b></label>
                        <input
                        class="form-control"
                        type="text"
                        name='lastName' 
                        id='lastName'
                        placeholder="Patient Last Name"
                        aria-label="Patient Last Name"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for='state' class="lead"><b>Type of Illness</b></label>
                        <input
                        class="form-control"
                        type="text"
                        name="state"
                        id="state"
                        placeholder="Yes/No"
                        aria-label="Do the patient have COVID-19?"
                        />
                    </div>
                    <div class="col-6">
                        <label for='medID' class="lead"><b>Medical ID</b></label>
                        <input
                        class="form-control"
                        type="number"
                        name="medID"
                        id="medID"
                        placeholder="Medical Identification Number"
                        aria-label="Medical Identification Number"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for='age' class="lead"><b>Age</b></label>
                        <input
                        class="form-control"
                        type="number"
                        name='age' 
                        id='age'
                        placeholder="Patient Age"
                        aria-label="Patient Age"
                        />
                    </div>
                    <div class="col-6">
                        <br>
                        <br>
                        <label for='gender' class="lead"><b>Gender:</b></label>
                        <select  name='gender' id='gender'>
                            <option value='None Selected'>None Selected</option>
                            <option value='Male'>Male</option>
                            <option value='Female'>Female</option>
                            <option value='Other'>Other</option>
                        </select>
                        <label for='field' class="lead"><b>Department</b></label>
                        <input
                            class="form-control"
                            type="text"
                            name='field' 
                            id='field'
                            value='Admitted Department'
                            aria-label="Admitted Department"
                        />
                    </div>
                    <div class="col-6">
                        <label for='cureTime' class="lead"><b>Days Until Discharge</b></label>
                        <input
                            class="form-control"
                            type="number"
                            name='cureTime' 
                            id='cureTime'
                            value='Days Until Discharge'
                            aria-label="Days Until Discharge"
                        />
                        <label for='doctorID' class="lead"><b>Doctor ID</b></label>
                        <input
                            class="form-control"
                            type="number"
                            name='doctorID' 
                            id='doctorID'
                            value='Doctor ID'
                            aria-label="Doctor ID"
                        />
                    </div>
                </div>           
                <br>
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>    
            </form>
        </div>
    </div>

{% endblock %}
