{% extends 'base.html' %}

{% block title %}See Patients{% endblock %}


{% block body %} 
    <br>    
    <div>
        <h1 style="display:inline">All Patients</h1>
    </div>
    <hr>
    
    {% if see_patients|length == 0 %}
        <p style="white-space:pre-wrap">You have no patients. Go to the add patient menu to add a new patient!</p>
    {% endif %}

    {% for patient in see_patients %}

        {% if patient.firstName %}
            <h2>{{ patient.firstName }} {{patient.lastName}}</h2>
        {% else %}
            <h2>No patient name found</h2>
        {% endif %}

        {% if patient.gender %}
            <h2>Gender: {{patient.gender}}</h2>
        {% else %}
            <h2>No gender found</h2>
        {% endif %}

        {% if patient.state %}
            <h2>Illness: {{ patient.state }}</h2>
        {% else %}
            <h2>No illness found</h2>
        {% endif %}
  
        {% if patient.state %}
            <h2>Medical Identification {{ patient.medID }}</h2>
        {% else %}
            <h2>No Medical Identification Found</h2>
        {% endif %}
            
        <p style="white-space:pre-wrap">Age: {{ patient.age }} Date Admitted: {{ patient.date_admitted.date() }}</p>
        <a class='btn btn-danger' href='/see_patients/delete/{{ patient.id }}'>Delete</a>
        <a class='btn btn-primary' href='/see_patients/edit/{{ patient.id }}'>Edit</a>
        <hr>
    {% endfor %}

{% endblock %}